.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.xml-tree {
  position: relative;
  margin: 20px;
}

.xml-tree .collapse-expand {
  position: absolute;
  width: 11px;
  height: 11px;
  top: 11px;
  left: -18px;
  background: #fec;
  border: solid 1px #d86;
  color: #d55;
  font-size: 15px;
  text-align: center;
  line-height: 9px;
  cursor: pointer;
}

ul {
  padding: 10px 0 0 0;
  border: none;
  margin-left: 10px;
  position: relative;
}

ul.node-content {
  border-left: solid 1px #d86;
}

li {
  position: relative;
  list-style: none;
  text-align: left;
}

.node {
  padding: 0 5px;
  color: #ffffff;
  font-weight: bold;
  background: orange;
  overflow: hidden;
  cursor: pointer;
  border-radius: 10px;
}

.attribute {
  color: green;
}

input[type="text"] {
  width: 100%;
}

textarea.edit-text {
  width: 250px;
  height: 150px;
}
